#detail_content ul,
#detail_content menu,
#detail_content dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}

#detail_content ol {
    display: block;
    list-style-type: decimal;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}

#detail_content h1, h2, h3, h4, h5, h6 {
    text-transform: none !important;
    font-weight: 600 !important;
    letter-spacing: normal !important;
}

#detail_content p {
    display: block !important;
    font-size: 13px !important;
    font-weight: normal !important;
    letter-spacing: normal !important;
    line-height: 22px !important;
    margin: 0px 0px 10px 0px !important;
    font-style: normal !important;
    white-space: normal !important;
}

#detail_content strong,
#detail_content b {
    font-weight: bold !important;
}

#detail_content i,
#detail_content cite,
#detail_content em,
#detail_content var,
#detail_content address,
#detail_content dfn {
    font-style: italic;
}

#detail_content small {
    font-size: smaller;
}

#detail_content mark {
    background-color: yellow;
    color: black;
}

#detail_content del {
    text-decoration: line-through;
}

#detail_content u,
#detail_content ins {
    text-decoration: underline;
}

#detail_content sub {
    vertical-align: sub;
    font-size: smaller;
}

#detail_content sup {
    vertical-align: super;
    font-size: smaller;
}

#detail_content q {
    display: inline;
}

#detail_content q::before {
    content: open-quote;
}

#detail_content q::after {
    content: close-quote;
}

#detail_content .table {
    border: 1px solid #000 !important;
}

#detail_content .table > thead > tr > th, .table > tbody > tr > td {
    border: 1px solid #000 !important;
}

#detail_content tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

#detail_content tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

#detail_content td,
#detail_content th {
    display: table-cell;
    vertical-align: inherit;
}

#detail_content address {
    display: block;
}

/*detail */
#detail_content hr {
    display: block;
    -webkit-margin-before: 0.5em;
    -webkit-margin-after: 0.5em;
    -webkit-margin-start: auto;
    -webkit-margin-end: auto;
    border-style: inset;
    border-width: 1px;
}

#detail_content {
    font-family: Roboto Slab, 'Open Sans', Arial, sans-serif;
    font-weight: 600;
}
